@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(057.56deg, #190361, #BB00FF 100%);
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 3rem 5rem 4rem;
    width: min(27rem, 90%);
    margin-top: -7rem;
    text-align: center;
}

.hide {
    display: none;
}

#btnLuck {
    cursor: pointer;
}

#btnLuck:hover {
    animation: btnLuck 0.05s infinite alternate;
}

/* SCREEN1  */

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #34355B;
    font-weight: bold;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    margin: 1.5rem 0;
    color: #34355B;
}

/* SCREEN2 */

h3 {
    font-family: "Dancing Script", cursive;
    color: #000;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #E4EDF1;
    padding: 0.625rem;
    margin: 1rem 0 4rem 0;
    animation: btnTextLuck 0.4s ;
}

@keyframes btnTextLuck {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }

}

button {
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #FF9500;
    border: none;
    border-radius: 8px;
    margin-top: 4rem;
    cursor: pointer;
}

@keyframes btnLuck {
    100% {
        transform: translateX(5px);
        transform: rotate(3deg);
    }
}